@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-LightIt.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-ThinIt.woff") format("woff");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-SemiboldIt.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-RegularIt.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-BoldIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff") format("woff");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova-BlackIt.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    font-size: 16px;
height: 100%;
    /* background: whitesmoke;
    background-image: url('../img-back/background.jpg');
    background-size: cover;
    background-position: center; */
}

a {
    text-decoration: none;
}

.main{
padding: 20px;
height: calc(100vh - 220px);
    background-image: url('../img-back/background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
   
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
}







/* // HEADER */
.header {
    background: #ffffff;
    color: #000000;
    height: 120px;
    display: flex;
    align-items: center;
    border: solid 20px;
    border-image: url(../img-back/border.png) 80 round repeat ;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-content: stretch; 
}

.header__info {
    display: flex;
    align-items: center;
}

.header__user {
    color: #000000;
    border-bottom: 1px dashed #000000;
    margin-left: 5px;
    margin-top: 1px;
    transition: 0.2s;
    cursor: pointer;
}

.header__user:hover {
    color: #f27e73;
    border-color: #f27e73;
}

.header__shop {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #f27e73;
    display: flex;
    align-items: center;
}

.header__shop a {
    margin-right: 25px;
    cursor: pointer;
    position: relative;
}

.header__shop a:last-of-type {
    margin-right: 0;
}

.header__shop--count {
    position: absolute;
    top: -10px;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    width: 20px;
    height: 20px;
    background: rgb(28, 157, 21);
    border-radius: 50%;
}

.header__logout {
    margin-left: 25px;
    color: #f27e73;
    background: none;
    border: none;
    border-bottom: 1px dashed white;
    padding: 0 0 1px 0;
    margin-top: 1px;
    transition: 0.2s;
    cursor: pointer;
    display: none;
}

.header__logout.active {
    display: block;
}

.header__logout:hover {
    color: #f27e73;
    border-color: #f27e73;
}

.category__container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #9e9e9e;
}

.category__container:last-of-type {
    border-bottom: 0;
}

.product {
    box-shadow: 0px 2px 2px rgba(0, 8, 29, 0.05), 0px 0px 2px rgba(0, 8, 29, 0.06), 0px 1px 3px rgba(0, 8, 29, 0.08);
    width: 18%;
    min-width: 200px;
    background: white;
    border-radius: 3px;
    padding: 13px;
    margin: 0 15px 15px 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 576px) {
    .product {
        width: 100%;
        margin-right: 0;
    }
}

.product__favourite {
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.product__img {
    margin: 0 auto;
    display: block;
    min-height: 100px;
    background-size: cover;
   background-position: center;
}

.product__title {
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 10px 0;
}

.product__sale {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product__sale--old {
    text-decoration: line-through;
    color: #9e9e9e;
}

.product__sale--percent {
    background: #4caf50;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
    font-size: 10px;
    margin-left: 10px;
    white-space: nowrap;
}

.product__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
}

.product__cart {
    border: none;
    background: #eb2335;
    border-radius: 3px;
    padding: 4px 13px 2px 13px;
    cursor: pointer;
    transition: 0.2s;
}

.product__cart--in {
    background: #4caf50;
}

.product__cart--ordered {
    background: #9e9e9e;
    pointer-events: none;
}

.userForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userForm .title {
    margin: 0 0 5px 0;
    font-size: 25px;
}

.userForm .desription {
    margin: 0 0 20px 0;
}

.userForm .error {
    display: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    width: 100%;
    transition: 0.2s;
}

.userForm .error.active {
    display: block;
}

.userForm label {
    margin-bottom: 10px;
    width: 100%;
}



/* Footer  */
.footer {
    width: 100%;
    background: #ffffff;
    color: #000000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    border: solid 15px;
    flex-direction: column;
    border-image: url(../img-back/border.png) 80 round repeat; 
    padding: 10px;
    width: 100%;
}
.footer__FB {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}